In [ ]:
sentence = "data science is powerful and data is fun"

words = sentence.split()
unique_words = set(words)
words_count = len(unique_words)

print("Problem 1: Unique Words")
print("Unique words count:", words_count)
print("Unique words:", unique_words)
print()

Problem 1: Unique Words
Unique words count: 6
Unique words: {'is', 'science', 'powerful', 'fun', 'data', 'and'}

In [30]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
highest_employee = max(employees, key=employees.get)
highest_salary = employees[highest_employee]

print("Highest Salary:", highest_employee, "-", highest_salary)

Highest Salary: Ravi - 75000

In [31]:
numbers = [45, 22, 89, 10, 66]

maximum = numbers[0]
minimum = numbers[0]
for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num
print("List:", numbers)
print("Max:", maximum)
print("Min:", minimum)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [32]:
prices = [450, 1200, 899, 1500, 300]
count = 0
for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

In [33]:
attendance = ["P", "P", "A", "P", "P"]
present_count = attendance.count("P")
total_days = len(attendance)

percentage = (present_count / total_days) * 100

print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

In [34]:
phone_numbers = [9876543210, 9123456789, 9876543210]
unique_numbers = set(phone_numbers)
print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

In [35]:
string = "python programming"
frequency = {}
for char in string:
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1

print(frequency)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 2, ' ': 1, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 1}

In [36]:
numbers = [10, 20, 30]
numbers_tuple = tuple(numbers)
print("Tuple:", numbers_tuple)

Tuple: (10, 20, 30)

In [37]:
employees = {"Ravi": 75000, "Anita": 68000}
key_to_check = "Ravi"
if key_to_check in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [38]:
marks = [70, 75, 80, 65]
total = sum(marks)
count = len(marks)
average = total / count
print("Average Marks:", average)

Average Marks: 72.5